/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

@font-face {
  font-family: "Geist Variable";
  src: url("../../GeistVF.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-sans: "Geist Variable", sans-serif;
}

:is(h1, h2, h3, h4)~*,
:is(*)~ :is(h1, h2, h3, h4) {
    margin-block-start: var(--size-5);
}

h2 {
    color: blue;
}

.error {
    color: red;
}

#tabs-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-5);
}

#feelings-message {
    height: 100px;
    width: min(100%, 500px);
    border: 1px solid black;
    padding: var(--size-3) var(--size-5);
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-5);
}

form div {
    display: flex;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: auto;
    gap: var(--size-5);
}

#drop {
    background-color: var(--surface-4);
    height: 300px;
    width: 200px;
}

.item {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    padding: var(--size-3);
}

main {
    padding: var(--size-5);
}

#error-message {
    font-weight: bold;
}

label {
    font-weight: bold;
}
